/* -- Add New Page --------------------------------------------------- */
section.page__add-new {
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
}
.subwrapper {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}


section.page__add-new h2 {
	text-align: center;
	padding: 3rem;
	font-size: 1.5rem;
	font-weight: 200;
}

section.page__add-new img {
	width: 100%;
	max-width: 450px;
	object-fit: cover;
	margin: auto;
	margin-bottom: 1rem;
}
section.page__add-new form {
	width: 100%;
	display: flex;
	flex-direction: column;
}
section.page__add-new input::file-selector-button {
	display: none;
}
section.page__add-new .file-input-area {
	display: flex;
}

section.page__add-new form label {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 20%;

	min-width: 140px;
	background-color: var(--color-text-light);
	color: var(--color-white);
	cursor: pointer;
	margin-bottom: 0.3rem;
}
section.page__add-new form label:hover {
	opacity: 50%;
}
section.page__add-new input {
	width: 100%;
	background-color: var(--color-white);
	border: none;
	outline: none;
	padding: 1rem 0.5rem;
	margin-bottom: 0.3rem;
}

section.page__add-new .disclaimer {
	line-height: 120%;
	padding-bottom: 1rem;
	font-size: 0.7rem;
}

section.page__add-new .button-upload {
	width: 100%;

	background-color: var(--color-text);
	color: var(--color-white);
	outline: none;
	border: none;
	padding: 1rem 0.5rem;
	margin: 0.2rem 0;
}

/* ----- Media Queries --------------------------------------------------------------------------- */
@media (max-width: 1200px) {
	.subwrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}
@media (max-width: 768px) {
}
